<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Page</title>
</head>
<body>
    <header>
    <div>
         <a id="button" href="/">HOME</a> 
    </div>
    <div>
       <a id="home-page" href="/"><h1>Jokebook</h1></a> 
    </div>
      <div>
        <% if(user) { %>
       <a id="button" href="/logout">LOGOUT</a> 
        <% } else { %>
        <a id="button" href="/auth/google">LOGIN</a>
         <% } %>
    </div>
</header>
<main>