<%- include('../views/partials/header') %>

    <div>
        <input class="status" type="text" value="TELL US A JOKE">
    </div> 
    <div class="newPost">
        <button id="post" type="submit">POST</button> 
    </div> 
    <div class="display">
        <div></div>
    </div>

<%- include('../views/partials/footer') %>
